.cart-card-container {
  width: 640px;
  height: 124px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-colorscheme-textcolor1inverted);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-textcolor1);
}
.cart-card-container1 {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cart-card-image {
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.cart-card-container2 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cart-card-text {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
  width: 192px;
  height: auto;
  text-align: left;
}
.cart-card-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
.cart-card-text1 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
