.shopping-cart-block-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.shopping-cart-block-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.shopping-cart-block-text {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
.shopping-cart-block-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shopping-cart-block-container3 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.shopping-cart-block-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
}
.shopping-cart-block-text01 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
.shopping-cart-block-text02 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
.shopping-cart-block-text03 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
.shopping-cart-block-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.shopping-cart-block-text06 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
  font-style: normal;
}
.shopping-cart-block-text07 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}
.shopping-cart-block-text08 {
  fill: var(--dl-color-colorscheme-textcolor1inverted);
  color: var(--dl-color-colorscheme-textcolor1inverted);
}

